@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #9c7f52;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #9c7f52;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c7f52;
}

.app-container {
  width: 100%;
}

.page {
  min-height: 100vh;
}

@media (min-width: 1300px) {
  .app-container {
    width: 1300px;
    margin: 0 auto;
  }
}

.navbar {
  height: 80px;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  height: 80%;
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "MedievalSharp", cursive;
  color: #6b210a;
}

.navbar .navbar-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-nav ul li {
  margin-left: 20px;
}

.navbar .navbar-nav ul li a.active {
  font-weight: bold;
  color: #6b210a;
}

@media (min-width: 1300px) {
  .navbar {
    padding: 0 calc((100vw - 1300px) / 2);
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 16px;
  }
  .navbar .logo img {
    height: 60%;
    margin-right: 6px;
  }
  .navbar .logo span {
    font-size: 1.1rem;
  }
}

.footer {
  padding: 20px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #181818;
}

.footer .logo {
  width: 150px;
  height: 130px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #202020;
  border-radius: 6px;
}

.footer .logo img {
  height: 80%;
}

.footer .logo span {
  font-size: 0.8rem;
  color: #f0f0f0;
  font-family: "MedievalSharp", cursive;
}

.footer .footer-msg {
  color: #f0f0f0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .footer-msg img {
  height: 20px;
  -webkit-animation: heartBeat 0.8s ease-in-out infinite;
          animation: heartBeat 0.8s ease-in-out infinite;
}

.footer .footer-msg a {
  color: #f0f0f0;
}

.footer .footer-msg a:hover {
  color: #9c7f52;
}

@-webkit-keyframes heartBeat {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes heartBeat {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1300px) {
  .footer {
    padding: 20px calc((100vw - 1300px) / 2);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .logo {
    margin-bottom: 30px;
  }
  .footer .footer-msg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0.8rem;
  }
}

.spinner {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner .container {
  width: 240px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 6px solid #9c7f52;
  border-radius: 50%;
  -webkit-animation: axeRotate 0.6s ease-in-out infinite;
          animation: axeRotate 0.6s ease-in-out infinite;
}

@-webkit-keyframes axeRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes axeRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  .spinner .container {
    width: 180px;
    height: 180px;
    border: 4px solid #9c7f52;
  }
  .spinner .container img {
    width: 120px;
    height: 120px;
  }
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .info {
  width: 50%;
  padding: 0 20px 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .info .title {
  font-family: "MedievalSharp", cursive;
  font-size: 4rem;
  color: #6b210a;
  margin-bottom: 60px;
  position: relative;
}

.home-page .info .title span {
  font-family: inherit;
  color: #230b05;
}

.home-page .info .cta {
  width: 260px;
  height: 80px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #230b05;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.home-page .info .cta img {
  height: 90%;
  margin-right: 12px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.home-page .info .cta:hover {
  background-color: #9c7f52;
}

.home-page .info .cta:hover img {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.home-page .img {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-box-shadow: -6px 16px 35px rgba(0, 0, 0, 0.4);
          box-shadow: -6px 16px 35px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1300px) {
  .home-page .info {
    padding: 0 20px 0 calc((100vw - 1300px) / 2);
  }
}

@media (max-width: 768px) {
  .home-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home-page .info {
    width: 100%;
    padding: 20px 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
  .home-page .info .title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
  }
  .home-page .info .cta {
    margin: 0 auto;
  }
  .home-page .img {
    width: calc(100vw - 32px);
    height: 360px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    margin: 0 auto 40px auto;
    border-radius: 20px;
  }
}

@media (max-width: 425px) {
  .home-page .info .title {
    font-size: 2rem;
  }
  .home-page .info .cta {
    width: 200px;
    height: 60px;
    font-size: 1rem;
  }
  .home-page .img {
    border-radius: 10px;
  }
}

.units-page {
  padding: 60px 5%;
}

@media (min-width: 1300px) {
  .units-page {
    padding: 60px calc((100vw - 1300px) / 2);
  }
}

@media (max-width: 768px) {
  .units-page {
    padding: 60px 16px;
  }
}

.unit-filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.unit-filters-form .age-filter,
.unit-filters-form .cost-filter {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
  border-radius: 0 6px 6px 6px;
  background: #f0f0f0;
  position: relative;
}

.unit-filters-form .age-filter {
  width: 40%;
}

.unit-filters-form .age-filter button {
  width: 100%;
  border: none;
  background: #b0b0b0;
  color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.unit-filters-form .age-filter button.active {
  background-color: #9c7f52;
}

.unit-filters-form .age-filter button:hover {
  background-color: #230b05;
  color: #f0f0f0;
}

.unit-filters-form .cost-filter {
  width: 58%;
}

.unit-filters-form .cost-filter .range-col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.unit-filters-form .cost-filter .range-col label {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.unit-filters-form .cost-filter .range-col label span {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #e3e3e3;
}

.unit-filters-form .age-filter::before,
.unit-filters-form .cost-filter::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 80px;
  height: 24px;
  background-color: #f0f0f0;
  border-radius: 6px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #6b210a;
  padding-left: 6px;
  font-weight: bold;
}

.unit-filters-form .age-filter::before {
  content: "Age";
}

.unit-filters-form .cost-filter::before {
  content: "Cost";
}

.unit-filters-form .search-btn {
  width: 10%;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #9c7f52;
  color: #f0f0f0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.unit-filters-form .search-btn:hover {
  background-color: #230b05;
}

@media (max-width: 1024px) {
  .unit-filters-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /* .search-btn {
      width: 140px;
      height: 40px;
    } */
  }
  .unit-filters-form .age-filter,
  .unit-filters-form .cost-filter {
    width: 100%;
  }
  .unit-filters-form .age-filter {
    margin-bottom: 30px;
  }
  .unit-filters-form .age-filter button {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .unit-filters-form .cost-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
}

/* 
@media (max-width: 425px) {
  .unit-filters-form {
    .search-btn {
      width: 100%;
    }
  }
}
 */
.unit-list .list-title {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 6px;
}

.unit-list .list-title span {
  border-left: 1px solid #d7d7d7;
  padding: 6px;
  font-weight: bold;
}

.unit-list .list-title span:not(:first-child) {
  width: 30%;
}

.unit-list .list-title span:first-child {
  width: 10%;
  border: none;
}

.unit-list .unit-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0f0;
}

.unit-list .unit-item a span {
  width: 30%;
  padding: 8px 6px;
  border-left: 1px solid #d7d7d7;
}

.unit-list .unit-item a span:first-child {
  width: 10%;
  border: none;
}

.unit-list .unit-item:nth-child(odd) a {
  background-color: rgba(240, 240, 240, 0.7);
}

.unit-list .unit-item a:hover {
  background-color: #6b210a;
  color: #f0f0f0;
}

.unit-list li:nth-child(2) a {
  border-radius: 6px 6px 0 0;
}

.unit-list li:last-child a {
  border-radius: 0 0 6px 6px;
}

.unit-details-page {
  padding: 60px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.unit-details-page .info {
  width: 60%;
}

.unit-details-page .info .title {
  font-family: "MedievalSharp", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.unit-details-page .info .title span {
  font-family: "MedievalSharp", cursive;
  display: inline-block;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #6b210a;
  color: #9c7f52;
  font-size: 1.8rem;
}

.unit-details-page .info .description {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #181818;
  color: #f0f0f0;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.unit-details-page .info .description::before {
  display: none;
}

.unit-details-page .info p {
  font-size: 1.2rem;
  color: #6b210a;
  padding: 6px 10px;
  position: relative;
  margin-bottom: 10px;
}

.unit-details-page .info p span {
  color: #230b05;
  font-weight: bold;
}

.unit-details-page .info p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 60%;
  border-radius: 3px;
  background-color: #6b210a;
}

.unit-details-page .img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: axeFloat 2s infinite ease-in-out;
          animation: axeFloat 2s infinite ease-in-out;
}

.unit-details-page .img img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes axeFloat {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes axeFloat {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@media (min-width: 1300px) {
  .unit-details-page {
    padding: 60px calc((100vw - 1300px) / 2);
  }
}

@media (max-width: 768px) {
  .unit-details-page {
    padding: 60px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .unit-details-page .info {
    width: 100%;
  }
  .unit-details-page .info .title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .unit-details-page .info .title span {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
  }
  .unit-details-page .info .description {
    font-size: 1rem;
  }
  .unit-details-page .info p {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }
  .unit-details-page .info p::before {
    width: 2px;
  }
  .unit-details-page .img {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=App.css.map */